.secondbodydiv{
    background-color: rgb(130, 60, 197);
    border: 1px solid black;
    padding-bottom: 75px;
    margin: 100px;
    border-radius: 25px;
    background: linear-gradient(135deg,blueviolet 40%,rgb(97, 97, 211));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
}

.music-culture{
    text-align: center;
    margin-top: 0%;
    padding-top: 40px;
}

.previewdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /*justify-items: center;*/
    margin-top: 3%;
    column-gap:0px;
    overflow: hidden;
    justify-items: center;
}


.playlistdiv{
    /*animation-name: scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;*/
    text-align: center;
    width:193px;
}

/*@keyframes scroll {
    0%{
        margin-left: -50%;
    }
    100%{
        margin-left: 100vw;
    }
    
}*/

.playlistdiv img{
    border-radius: 5px;
    object-fit: contain;
    height: 197px;
    width: 193px;
    object-fit: contain;
    transition: height 0.2s;
}

.playlistdiv img:hover{
    height: 210px;
}

@media  (max-width:1146px){
    .previewdiv{
        grid-template-columns: 1fr 1fr;
    }
    .playlistdiv img{
        margin-top: 20px;
    }
}